/*

App.css → component-specific (App-level) styles

Use this for styling only the App component layout:

App container layout
spacing
alignment
page-level structure

*/

/* SECTIONS */

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Form */

#setup-quiz {
  flex-direction: row;
  justify-self: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 500px;
  /* outline: 1px solid red; */
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid green; */
  display: block;
}

.quiz-form {  /* need to fix responsivness; */
  padding: 2.5rem 4.75rem;
  outline: 1px solid red;
  width: 100vw;
  margin: 0;
}

.choices-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}

.choice-label {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;

  border: 1px solid #4D5B9E;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;


  padding: 0.5rem 1rem;
  /* width: fit-content; */
}

.choice-label:hover {
  background-color: #E8EBF9;
  border-color: #C9D2F3;
}

.choice-label:has(.choice-input:checked) {
  background-color: #D6DBF5;
  border-color: #C9D2F3;
}

.choice-input {
  appearance: none;
}

hr {
  border: 0.79px solid #DBDEF0;
  margin: 1rem 0;
}

/* TYPOGRAPHY */

h1 {
  font-family: "Karla", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-family: "Karla", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

/* BUTTONS */

.start-btn {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  background-color: #4D5B9E;
  border: 0;
  margin: 1.5rem auto;
  display: block;

  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: white;
}

